body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url(./assets/keyboard.png), not-allowed;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
    font-family: "Zombie";
    src: local("Zombie"), url(./assets/fonts/zombie.ttf) format("truetype");
}

@font-face {
  font-family: "Badly Stamped";
  src: local("Badly Stamped"), url(./assets/fonts/BadlyStamped.ttf) format("truetype");
}
